/* SearchBox.css */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f1eded !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    position: relative;
  }
  
  .searchbar {
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    /* flex-direction: row; */
  }
  .main-heading {
    text-align: center;
    font-size: 3rem; /* Adjust the font size as needed */
    font-family: 'Impact', sans-serif; /* Use Impact font */
    font-weight: bold; /* Make it bold */
    margin-bottom: 20px;
    color: #353b48; /* Adjust the color as needed */
  }
  

/* Arrow Option */
.arrow-option {
    background-color: #3498db;
    color: white;
    border-radius: 8px;
  }
  
  .arrow-option.active {
    background-color: #2980b9;
  }
/* Image COntainer */

.ImageContainer {
    /* height: 60px; */
    background-color: #353b48;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    /* flex-direction: row; */
  }
 

/*Search Options */



  
  .search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
  }
  
  .searchbar:hover > .search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
  }
  .searchbar.expanded .search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
  }
  .searchbar:hover > .search_icon {
    background: rgb(172, 172, 172);
    color: #e74c3c;
  }
  
  .search_icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .option {
    margin-right: 10px;
  }
  
  .option-button {
    background-color: #353b48;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .option-button i {
    margin-right: 5px;
  }
  
  .option-right {
    margin-left: auto;
  }
  
  .switch {
    display: flex;
    align-items: center;
  }
  
  .switch-container {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 5px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e0e0e0;
    border-radius: 15px;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
  }
  .suggestion-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 200;
    /* position: absolute; */
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .suggestion-list li {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners for each suggestion */
    transition: background-color 0.3s;
    position: relative;
  }
  
  .suggestion-list li:last-child {
    border-bottom: 0;
  }
  
  .suggestion-list li:hover {
    background-color: #f0f0f0;
  }
  
  .suggestion-list li::after {
    content: '\2192'; /* Unicode character for right arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-family: 'Font Awesome 5 Free'; /* Font Awesome for arrow icon */
    font-weight: 900;
    font-size: 12px;
    color: #999;
  }

/* Images CSS BELOW //////////   */
.selected-images-container {
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
  }
  
  .selected-image {
    position: relative;
    margin-right: 10px;
    box-shadow: #2980b9;
  }
  
  .selected-image img {
    width: 50px; /* Adjust the width as per your preference */
    height: auto;
    border-radius: 5px;
  }
  
  .selected-image span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
    color: #333;
  }